.grid-area {
  display: grid;
  grid-template-areas: "logo searchm buttons1 buttons2 ava";
  padding: 0px 350px;
  border-bottom: 0.5px solid #dedede;
}

header {
  display: flex;
  justify-content: space-between;
}

.button1 {
  height: 40px;
  width: 90px;
  border: 0;
  background-color: white;
  cursor: pointer;
}
.button2 {
  height: 40px;
  width: 30px;
  border: 0;
  background-color: white;
  cursor: pointer;
}
.button1:hover {
  padding: 0px 0px 4px 0px;
}

.button2:hover {
  padding: 0px 0px 4px 0px;
}
.avaimg {
  border-radius: 50px;
}
.redbutton {
  color: rgb(171, 45, 45);
}
.searchga input {
  width: 150px;
  height: 32px;
  padding-left: 10px;
  border: 0.5px solid #cecece;
  border-right: 0;
  border-radius: 50px 0 0 50px;
  background: #ffffff;
  outline: none;
}

.searchga button {
  position: absolute;
  width: 32px;
  height: 32px;
  border: 0.5px solid #cecece;
  border-left: 0;
  cursor: pointer;
  border-radius: 0 50px 50px 0;
  background-color: white;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  width: 0px;
  height: 0px;
}

.cell-area:nth-child(1) {
  grid-area: logo;
  padding: 20px 10px;
}

.cell-area:nth-child(2) {
  grid-area: searchm;
  padding: 20px 40px 10px 20px;

  border-left: 0.5px solid #dedede;
}

.cell-area:nth-child(3) {
  grid-area: buttons1;
  padding: 20px 10px 20px 0px;
  display: flex;
  justify-content: space-between;
  border-right: 0.5px solid #dedede;
  border-left: 0.5px solid #dedede;
}

.cell-area:nth-child(4) {
  grid-area: buttons2;
  border-right: 0.5px solid #dedede;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
}

.cell-area:nth-child(5) {
  grid-area: ava;
  padding: 20px 10px;
}
.buttons3 {
  display: flex;
  justify-content: space-between;
  padding: 10px 170px;
  width: 400px;
}
.button3 {
  border: 0;
  background-color: white;
}
.button3:hover {
  border-bottom: 2px solid #3d509e;
}
.bluebutton {
  border-bottom: 2px solid #3d509e;
}
.divfooter {
  display: block;
  text-align: center;
  border-top: 0.5px solid #dedede;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  overflow: hidden;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body main {
  background-color: #f6f8f9;
}

#body-5 {
  background-color: #ffffff;
  border: 1px solid #f6f8f9;
}

#body-5 *,
#body-6 * {
  margin: 0;
  padding: 0;
}

#body-5,
#body-6 {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 200px;
  min-width: 200px;
  margin: 20px;
}

#body-5-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#body-5-2 {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #f1f1f1;
  margin-top: 10px;
}

#body-5-2 :last-child {
  border-left: 1px solid #f1f1f1;
}

#body-5-2 div {
  text-align: center;
  width: 50%;
  padding-top: 30px;
  padding-bottom: 30px;
}

#body-5-1 h2,
#body-5-1 p {
  margin-bottom: 10px;
}

#body-5-3,
#body-5-4 {
  display: flex;
  flex-direction: column;
  align-items: left;
  border-top: 1px solid #f1f1f1;
}

#body-5-2 p,
#body-5-3 p,
#body-5-4 p {
  display: flex;
  flex-direction: row;
  font-size: small;
}

#body-5-2 p {
  margin: 0px 25px;
}

#body-5-3 {
  padding: 25px 0px 15px 0px;
}

#body-5-3 p {
  margin: 0px 25px 10px 25px;
}

#body-5-4 p {
  margin: 25px 25px;
}

#body-5 img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 20px 0px;
}

#body-5 button {
  border: 1px solid #5eb4e5;
  border-radius: 50px;
  width: 160px;
  height: 35px;
  font-size: 14px;
  margin-bottom: 10px;
}

#body-5 :nth-child(5) {
  background-color: #5eb4e5;
  color: #ffffff;
  transition: 0.3s;
}

#body-5 :nth-child(6) {
  background-color: #ffffff;
  color: #5eb4e5;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

#body-5 :nth-child(5):hover {
  filter: brightness(0.9);
}

#body-5 :nth-child(6):hover {
  filter: brightness(0.9);
}

#body-5 p,
#body-5 a {
  color: #c1c1c1;
}

#body-5 :nth-child(3) {
  color: #000000;
}

#body-5 a:hover {
  border-bottom: 1px solid #c1c1c1;
  cursor: pointer;
}

#body-6-1,
#body-6-2,
#body-6-3 {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

#body-6-3 {
  margin-bottom: 45px;
}

#body-6-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#body-6-4 div {
  margin: 20px;
}

#body-6 img {
  align-self: flex-start;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  margin-right: 10px;
}

#body-6-4 img {
  align-self: center;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin: 0;
}

#body-6 button {
  background: none;
  border: none;
  margin: 0;
}

#body-6 button :hover {
  cursor: pointer;
}

#body-6 div p {
  color: #c1c1c1;
  margin-top: 5px;
}

#body-5 ion-icon {
  margin-top: 0px;
}

#body-1 {
  height: 2000px;
  width: 1000px;
  background-color: rgb(0, 255, 0);
}
