ul {
  margin: 0 auto;
  list-style-type: none;
  counter-reset: circle;
  margin: 0;
  font-family: sans-serif;
}
ul li {
  padding: 0 0 25px 25px;
  position: relative;
  margin: 0;
  color: #C1C1C1;
}
li p {
  color: black;
  margin: 12px 0;
}
li h6 {
  margin: 0;
}
li a {
  text-decoration: none;
  color: #5EB4E5;
}
li a:hover {
  text-decoration: underline;
}
ul li:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  border: 1px solid #C1C1C1;
  border-radius: 50%;
  display: inline-block;
  height: 5px;
  width: 5px;
  text-align: center;
  line-height: 5px;
  background: #fff;
}
ul li:before {
  position: absolute;
  left: 3px;
  top: 0;
  content: "";
  height: 100%;
  width: 0;
  border-left: 1px solid #C1C1C1;
}
ul li:last-of-type:before {
  border: none;
}